<center>
    <logo-full></logo-full>
</center>

<div class="row">

    <div  class="col-md-2">
        <div class="">
            <span ng-hide="userService.isAuthenticated()">
                <a href="#/login">
                    <button class="btn btn-primary">
                        Login
                    </button>
                </a>
            </span>
            <a href="#/games">List All Games</a>
            <button class="btn btn-primary">fb</button>
            <button class="btn btn-primary">blog</button>
        </div>

    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <h2 class="panel-heading">Show Game Stores in Selected State</h2>
            <div class="panel-body">
                <span>Select State: </span>
                <select ng-model="selectedState" ng-init="states[0]" ng-options="state for state in states" ng-change="getStores(selectedState)">
                </select>
            </div>
        </div>
        <br>
        <div id="stateStores" class="panel panel-default" ng-repeat="store in stores">
            <div class="panel-heading">
                <h4>{{ store.name }}</h4>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <p>{{ store.phone }} | {{store.streetAddy}} {{store.city}}</p>
                    <p>{{store.hours}}</p>
                    <p>{{ store.description }}</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
