<span ng-hide="userService.isAuthenticated()"><a href="#/login"> <button>Login</button></a><span> Show Game Stores in your state!</span>

</span>
<br>
<h2>Show Game Stores</h2>
<span>Select state: </span>

<select ng-model="selectedState" ng-options="state for state in states" ng-change="getStores(selectedState)">
</select>
<div>{{selectedState}}</div>
<br>
<div id="stateStores" class="panel panel-default" ng-repeat="store in stores">
    <div class="panel-heading">
        <h4>{{ store.name }}</h4>
    </div>
    <div class="panel-body">
        <div class="pull-left">
            <p>{{ store.phone }} | {{store.streetAddy}} {{store.city}}</p>
            <p>{{store.hours}}</p>
            <p>{{ store.description }}</p>
        </div>
    </div>
</div>
<br>
