body {
    background: white;
}

.bgWhite {
    background: white;
}

.bgTree {
    background: url(/../images/new_year_background.png) repeat 0 0;
}

.bgPowStar {
    background: url(/../images/pow-star.png) repeat 0 0;
}

.bgPaper {
    background: url(/../images/textured_paper.png) repeat 0 0;
}

.dropShadow {
    box-shadow: 10px 10px 5px #888888;
}

.blackLetters {
    color: black;
    font-weight: 800;
}

.blueLetters {
    color: #0099FF;
    font-weight: 180;
}

.blue {
    color:#0099FF;
}

.botPad {
    padding-bottom: 10px;
}

.rightMargin {
    margin-right: 100px;
}

.smallPic {
    height: 20px;
}

.inset {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.sideBySide {
    display: inline-block;
    margin-left: 12px;
}

.borderBox {
    border: 2px solid black;
}

.bigFont {
    font-size: 160%;
}

.biggerFont {
    font-size: 150%;
}

.storeFont {
    font-size: 125%;
}
.storeFont2 {
    font-size: 110%;
}

.luckyFont {
    font-family: 'Luckiest Guy', cursive;
}

.leftBuffer {
    margin-left: 8px;
}
/*----------navbar------------*/

.fA {
    font-size: 320px;
}

/*---------------home page-----------------*/

.jumbotron {
    background: url(../images/dndTable.jpg) no-repeat fixed 50% 0px / cover;
    box-shadow: inset 0 0 0 1000px rgba(216, 216, 236, 0.6);
    padding: 0 0 0 0;
    margin-bottom: 70px;
    margin-top: -20px;
}

.inBlock {
    display: inline-block
}

.layer {
    background-color: rgba(216, 216, 232, 0.4);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.centerIt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomIt {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.centerItItem {
    margin-top: -190px;
    max-width: 50%;
}

.logoFont {
    font-size: 570%;
}

.pushRight {
    margin-right: -75px;
}

.pushDown {
    margin-top: 240px;
}

.pullUp {
    margin-top: -80px;
}

.colorBlack {
    color: black;
}

.font140 {
    font-size: 140%;
}
