<div class="row bgWhite">
    <section class="col-md-3">
        <div class="well row bgBlack">
            <div class="col-md-12 well">
                <div class="row">
                    <div class="col-md-2 font140"><a href="#/profile" style="color:black;"><i class="fa fa-user-secret"></i></a></div>
                    <div class="col-md-10 font140">{{user.username}}</div>
                    <div class="col-md-2 font140"><i class="fa fa-envelope"></i></div>
                    <div class="col-md-10 font140">{{user.email}}</div>

                    <div class="col-md-2 font140" ng-click="getStores(myState)"><i class="fa fa-globe blue"></i></div>
                    <div class="col-md-8 font140">{{myState}} </div>
                    <div class="col-md-2 font140" ng-click="getStores(myState)"><i class="fa fa-arrow-left blue"></i></div>
                </div>
                <div class="row">
                    <div class="col-md-2 font140"><i ng-click="getStoreByName()" style="color:red;" class="fa fa-flash"></i> </div>
                    <div class="col-md-8 font140" ng-click="getStoreByName()">{{myStore}}</div>
                    <div class="col-md-2 font140"><i style="color:red;" class="fa fa-heart"></i> </div>

                </div>
            </div>
            <div class="col-md-12 well">
                <br>
                <br>
                <br> State:
                <select class="pullRight" ng-attr-size="{{size}}" ng-model="newState" ng-init="states[0]" ng-options="state for state in states" ng-change="changeState(newState)">
                </select>
                <br>
                <br> City:
                <select ng-attr-size="{{size}}" ng-model="cityFilter" ng-init="cities[0]" ng-options="city for city in cities" ng-change="filterCity(cityFilter)">
                </select>
                <br>
                <br>

            </div>
            <div class="col-md-12 well font140">
                <div class="col-md-offset-0 col-md-11 font140">
                    <i class="fa fa-google-plus sideBySide"></i>
                    <i class="fa fa-facebook-official sideBySide"></i>
                    <i class="fa fa-instagram sideBySide"></i>
                    <i class="fa fa-reddit-alien sideBySide"></i>
                    <i class="fa fa-pinterest-square sideBySide"></i>
                </div>
            </div>

        </div>
    </section>

    <section class="col-md-9">

        <div id="" class="panel panel-default col-md-6 bgBlue" ng-repeat="store in stores" ng-model="choose">
            <div class="panel-heading">
                <h4 class="sideBySide bigFont">
                    {{ store.name }}
                    <a href="#" ng-if="myStore !== store.name" data-toggle="tooltip" data-placement="top" title="Make this my default store!">
                        <span class="" ng-click="makeFavoriteStore(store._id, store.name)">
                            <i ng-if="myStore !== store.name" class="fa fa-heart-o" style="color:red;"></i>
                        </span>
                    </a>
                    <i ng-if="myStore === store.name" class="fa fa-heart" style="color:red;"></i>
                </h4>
                <a title="Create a New Session!" data-toggle="tooltip" data-placement="top" tooltip>
                    <button type="button" class="bigFont" style="float: right;" ng-click="sessionCreator(store._id)"><a href="#" data-toggle="tooltip" data-placement="top" title="Create a Game Session!"><h5><i class="fa fa-plus-square"></i></h5></a></button>
                </a>

            </div>
            <div class="panel-body bgWhite">
                <div class="">
                    <div class="row storeFont">
                        <div></div>
                        <div class="col-md-7 storeFont2">
                            <i class="fa fa-phone blue"></i> <span>{{ store.phone }}</span>
                            <div><i class="fa fa-globe blue"></i> <span>{{store.streetAddy| limitTo:10}} {{store.city| limitTo:10}}</span></div>
                            <div><i class="fa fa-firefox" style="color:red;"></i> {{store.website | limitTo:20}}</div>
                            <div><i class="fa fa-dashcube"></i> Gaming Tables: <span>{{store.gamingTables}}</span></div>
                            <div><i class="fa fa-comment "></i> <span>{{ store.description | limitTo:20}}</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-3">Mon:</div> <span class="col-md-9" ng-hide="{{store.hours.mon.open == 64}}">{{store.hours.mon.open}} - {{store.hours.mon.close}}</span><span class="col-md-9" ng-show="{{store.hours.mon.open == 64}}">Closed</span>
                                <br>
                                <div class="col-md-3">Tue:</div><span class="col-md-9" ng-hide="{{store.hours.tue.open == 64}}">{{store.hours.tue.open}} - {{store.hours.tue.close}}</span><span class="col-md-9" ng-show="{{store.hours.tue.open == 64}}">Closed</span>
                                <br>
                                <div class="col-md-3">Wed:</div><span class="col-md-9" ng-hide="{{store.hours.wed.open == 64}}">{{store.hours.wed.open}} - {{store.hours.wed.close}}</span><span class="col-md-9" ng-show="{{store.hours.wed.open == 64}}">Closed</span>
                                <br>
                                <div class="col-md-3">Thur:</div><span class="col-md-9" ng-hide="{{store.hours.thur.open == 64}}">{{store.hours.thur.open}} - {{store.hours.thur.close}}</span><span class="col-md-9" ng-show="{{store.hours.mthur.open == 64}}">Closed</span>
                                <br>
                                <div class="col-md-3">Fri:</div><span class="col-md-9" ng-hide="{{store.hours.fri.open == 64}}">{{store.hours.fri.open}} - {{store.hours.fri.close}}</span><span class="col-md-9" ng-show="{{store.hours.fri.open == 64}}">Closed</span>
                                <br>
                                <div class="col-md-3">Sat:</div><span class="col-md-9" ng-hide="{{store.hours.sat.open == 64}}">{{store.hours.sat.open}} - {{store.hours.sat.close}}</span><span class="col-md-9" ng-show="{{store.hours.sat.open == 64}}">Closed</span>
                                <br>
                                <div class="col-md-3">Sun:</div><span class="col-md-9" ng-hide="{{store.hours.sun.open == 64}}">{{store.hours.sun.open}} - {{store.hours.sun.close}}</span><span class="col-md-9" ng-show="{{store.hours.sun.open == 64}}">Closed</span>
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <center>
                    <button class="btn btn-primary bgWhite" ng-click="getStoreSessions(store)"><span class="font140" style="color:black;">See the Game Sessions!</span></button>
                </center>
            </div>

        </div>

    </section>
</div>
