<div class="row">
    <section class="col-md-6">

        <div id="stateStores" class="panel panel-default" ng-repeat="store in stores" ng-model="choose">
            <div class="panel-heading">
                <h4>{{ store.name }}</h4>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <p>{{ store.phone }} | {{store.streetAddy}} {{store.city}}</p>
                    <p> {{store.hours}}</p>
                    <p>{{ store.description }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
